YAMLS_ENV=production
YAMLS_ENABLE_DEBUG_ROUTES=0
YAMLS_CONFIG_LIVE_RELOAD=0
YAMLS_TRUST_PROXY=1
YAMLS_TRUSTED_PROXY=127.0.0.1

YAMLS_WAITRESS_HOST=127.0.0.1
YAMLS_WAITRESS_PORT=8080

YAMLS_NGINX_BIND_HOST=0.0.0.0
YAMLS_NGINX_PORT=443
YAMLS_SERVER_NAME=example.com
YAMLS_HEALTHCHECK_CONNECT_HOST=127.0.0.1
# YAMLS_NGINX_MIME_TYPES=/etc/nginx/mime.types

YAMLS_TLS_CERT=/etc/letsencrypt/live/example.com/fullchain.pem
YAMLS_TLS_KEY=/etc/letsencrypt/live/example.com/privkey.pem
