/* base.css — reset + base styles */

*, *::before, *::after { box-sizing: border-box; }
body { margin: 0; line-height: 1.5; -webkit-text-size-adjust: 100%; }

body,
button,
input,
textarea,
select {
    font-family: var(--font-mono);
}

input,
textarea {
    font: inherit;
}

button, .widget-button {
    font-weight: var(--fw-bold);
}

body {
    background-color: var(--color-bg);
    overflow-x: auto;
    padding-top: var(--app-navbar-height);
    width: 100%;
    min-width: 100%;
}
